.aboutSec {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    text-align: center;
    margin-top: 20px;
}
.aboutSec h2 {
    font-size: 30px;
}

.about__cards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.about__cards h3{
font-size: 60px;
font-weight: 300;
background: linear-gradient(to right, #49BBBD, #136CB5);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}
.about__cards p {
    font-weight: 600;
}