.testRightSec__container {
    position: relative;
}

.testRightSec__container .card {
    position: absolute;
    bottom: 25px;
    left: 120px;
    right: -160px;
    height: 200px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.testRightSec__container .card::before {
    content: '';
    height: 200px;
    width: 10px;
    background-color: #F67766;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
}