.news__container {
    width: 90vw;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.news__container__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
}

.news__container__card1 {
    grid-area: span 2 / span 2;
}

.news__container__card2 {
    grid-area: span 2 / span 2;
}

.news__container__card3 {
    grid-area: span 2 / span 2;
}

.news__container__card4 {
    grid-area: 1 / 1 / 7 / 2;
}
.news__container__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}
.news__container__header > p {
    color: #696984;
}
.news__container__header > h2 {
    color: #2F327D;
}